@import "./layout/layout.scss";
// @import "../../_variables";

// @import "../_mixins";

@import "./components/card.scss";
@import "./components/header.scss";
@import "./components/mainheader.scss";

$body-color: #24292e;

body {
  color: $body-color;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}


a {
  text-decoration: none;
  background-color: initial;
}

