@import "./layout/_layout.scss";
@import "./mixins/fonts.scss";
@import "./mixins/mediaquery.scss";
@import "./base/variables";
@import "./components/card.scss";
@import "./components/header.scss";
@import "./components/mainheader.scss";

$body-color: #24292e;

body {
  color: $body-color;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,San Francisco,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  margin: 0px;
}
ul{
  padding: 0px;
  margin: 0px;
}


a {
  text-decoration: none;
  background-color: initial;
}

